<!DOCTYPE html>
<html class="no-js">
    <head>
      <title>Feedback</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= csrf_meta_tags %>
    </head>
  <body>
    <%= yield %>
  </body>
</html>
