#feedback-tab {
  background-color: #FAA600;
  border-radius: 3px;
  border-bottom: 4px solid #D8831D;
  padding: 8px 14px;

  display: inline-block;

  a {
    color: #fff;
    font-family: MuseoSlab,Helvetica,Arial,sans-serif;
  }
}